body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-y: auto; 
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}

nav {
    background-color: #444;
    color: #fff;
    text-align: center;
    padding: 0.5em;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

section {
    padding: 20px;
}

form {
    display: flex;
    margin-bottom: 20px;
}

input {
    flex: 1;
    padding: 10px;
} 

button {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

section#alumni-list ul {
    list-style: none;
    padding: 0;
}

section#alumni-list li {
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 10px;
}


button.connect-button {
    background-color: #4CAF50; /* Green */
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
}

button.connect-button:hover {
    background-color: #45a049;
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em; 
    position: fixed;
    bottom: 0;
    position: relative;
    width: 100%;
}