body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-y: auto; 
}
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}


nav {
    background-color: #444;
    color: #fff;
    text-align: center;
    padding: 0.5em;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

section.event {
    border: 1px solid #ddd;
    margin: 20px;
    padding: 20px;
    background-color: #f9f9f9;
}

section.event h2 {
    color: #333;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em; 
    position: fixed;
    bottom: 0;
    position: relative;
    width: 100%;
}